<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.bitcare.dao.MessageDAO">

    <!-- 받은 메세지 목록 -->
    <select id="selectByReceiver" parameterType="String" resultType="messageDTO">
        SELECT `message`.* , `alarm`.`entry_date` FROM `message`
        inner join `alarm` on `message`.`content`=`alarm`.`content`
        where `message`.`receiver`= #{logInName}
        order by `alarm`.`entry_date` desc
    </select>

    <!-- 보낸 메세지 목록 -->
    <select id="selectBySender" parameterType="String" resultType="messageDTO">
        SELECT `message`.* , `alarm`.`entry_date` FROM `message`
        inner join `alarm` on `message`.`content`=`alarm`.`content`
        where `message`.`sender`= #{logInName}
        order by `alarm`.`entry_date` desc
    </select>

    <!-- 메세지 선택 -->
    <select id="selectOne" parameterType="int" resultType="messageDTO">
        SELECT `message`.* , `alarm`.`entry_date` FROM `message`
        inner join `alarm` on `message`.`content`=`alarm`.`content`
        where `message`.`id`= #{id}
        order by `alarm`.`entry_date` desc
    </select>

    <!-- 메세지 생성 -->
    <insert id="insert" parameterType="messageDTO" useGeneratedKeys="true" keyProperty="id">
        insert into `message`(sender,receiver,content,message_file,state)
        values(#{sender}, #{receiver}, #{content}, #{messageFile}, #{state})
    </insert>

    <!-- 메세지 상태 변경 -->
    <update id="update" parameterType="messageDTO">
        UPDATE `message`
        SET state=#{state}
        WHERE id=#{id}
    </update>

    <!-- 메시지 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM `message`
        WHERE id= #{id}
    </delete>

    <!-- 전체 메시지 삭제 -->
    <delete id="allDelete" parameterType="string">
        DELETE FROM `message`
        WHERE name= #{name}
    </delete>
</mapper>